*{
margin: 0;
font-family: Arial;
}

body {
background-color: white;
color: black;
}

header {
text-aling: center;
background-color: #2F4F4F;
color: white;
border-bottom: 1px solid #ddd;
padding: 20px;
}

nav{
background-color: #D3D3D3;
padding: 10px;
}

p{
margin-bottom: 10px;
}

a {
text-decoration: none;
color: black;
margin-left: 20px;
}

article{
margin: 10px;
margin-left: 10px;
margin-rigth: 10px;
}

aside {
margin-top: 20px;
aling-items: center;
}

ul{
margin-top: 10px;
}

main {
border: 2px solid #2F4F4F;
padding: 20px;
margin: 10px;
border-radius: 20px;
}

footer{
text-aling: center;
background-color: #2F4F4F;
color: white;
position: fixed;
bottom: 0;
width: 100%;
}