/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F6F6;;
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    background-color: #d9d9d9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease;
}

.header.visivel {
    top: -100px; 
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    padding-right: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-baixar {
    background-color: #E82C2C;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 150px;
    display: flex;
    justify-content: center;
    
    text-align: center;
    align-items: center;
}

.btn-baixar:hover {
    background-color: #870000;
}

/* Page 1 */

.content {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #F6F6F6;
    margin-top: 55px; 
}

.text-section {
    flex: 1;
    max-width: 50%;
}

.text-section h2 {
    font-size: 100px;
    color: #333;
    margin-bottom: 20px;
}

.text-section .highlight {
    color: #E82C2C;
}

.text-section h3 {
    font-size: 33px;
    color: #333;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 23px;
    color: #414141;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn-download {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px 28px;
    font-size: 26px;
    cursor: pointer;
    border-radius: 9px;
    margin-bottom: 10px;
}

.btn-download:hover {
    background-color: #870000;
}

.disponivel-em {
    display: flex;
    align-items: center; 
   color: #414141;
    font-size: 26px; 
}

.icons {
    margin-left: 5px; 
    align-items: center; 
}


.image-section {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    background-color: #E82C2C;
    box-shadow: 10px 10px 10px 0px darkred;
}


.hidden {
    opacity: 0;
    transition: opacity 0.9s ease;
}
.visivel {
    opacity: 1;
}

/* Seta */

.seta-baixo {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #E82C2C;  
    position: fixed;
    bottom: 20px;  
    left: 50%;
    transform: translateX(-50%);  

    z-index: 1001;  
    opacity: 1;  
    transition: opacity 0.3s ease;  
    animation: pulse 1.5s infinite;
}

.seta-baixo.visivel {
    opacity: 0;  
}


/* Page 2 */

.pag2  {
    margin-bottom: 0;
    margin-top: 0;
   
}

.boxes {
    padding: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #E82C2C;
    color: white;
    margin: 90px;
    margin-top: -30px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

.boxe-special {
    padding: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 65px;
    padding-right: 65px;
    background-color: #E82C2C;
    color: white;
    margin: 90px;
    margin-top: -30px;
    border-radius: 20px;
    align-items: center;
    text-align: center;

}

.box {
    padding: 8%;
    padding-bottom: 30%;
    margin: 70px;
    border-radius: 20px;
    background-color: #dec4c4;
    margin-top: -30px;
    margin-left: 180px;
    margin-right: 180px;
}

.bnt-page2 {
    align-items: center;
    margin-left: 35%;
    margin-top: -20px;
    margin-bottom: 20px;
}

/* Scrollbar */

@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

::-webkit-scrollbar{
    width: 14px;

}

::-webkit-scrollbar-thumb{
    background-color:  #E82C2C ;
    
    
}

::-webkit-scrollbar-track{
    background-color: white ;
    width: 10px;
    
}




