body {
    background-color: rgb(216, 229, 233);
    margin: 0;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    text-align: right;
    background-color: rgb(255, 255, 255);
    padding: 1.8rem;
    font-size: 21px;
    font-weight: bold;
}

.index-header {
    box-shadow: 4px black;
    position: sticky;
}

.icones h4 {
    justify-content: center;
    text-align: center;
}

nav a {
    margin-left: 30px;
    background-color: transparent;
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.icones{
    display: flex;
    align-items: center;
    margin-left: 8%;
    
}

.icones a {
    text-decoration: none;
}

.icones i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 88px;
    background-color: transparent;
    color: white;
    margin: 10%;
    
}

.historias {
    width: 270px;
    height: 300px;
    border-radius: 60px;
    background-color: rgb(85, 95, 189);
    margin: 5%;
    color: white;
}

.inscrição {
    width: 270px;
    height: 300px;
    border-radius: 60px;
    background-color: rgb(85, 95, 189);
    margin: 5%;
    color: white;
    align-items: center;
    justify-content: center;
}

.doar {
    width: 270px;
    height: 300px;
    border-radius: 60px;
    background-color: rgb(85, 95, 189);
    margin: 5%;
    color: white;
}

.contatos {
    padding: 7%;
    background-color: rgb(71, 141, 86);
    color: white;
    font-size: 20px;
    text-align: start;
}

.contatos h1 {
    background-color: transparent;
}

.falar h2 {
    color: rgb(0, 129, 47);

}

.falar p {
    color: gray;
    font-size: 15px;
}

.falar {
    align-items: center;
    display: flex;
    margin: 30px;
}

.email {
    width: 200px;
    margin: 30px;
}

.telefone {
    width: 200px;
    margin: 30px;
}

.chat {
    width: 200px;
    margin: 30px;
}

.falar p {
    margin-top: 15px;

}

.bold {
    font-weight: bolder;
    color: black;
}

.inscrevase {
    font-family: Arial, Helvetica, sans-serif;
    align-items: left;
    display: flex;
    justify-content: center;
}

.inscrevase {
    align-items: end;
    margin-bottom: 30px;
    margin-left: 10%;
    
}

.inscrevase h2 {
    margin: 10%;
    font-size: 30px;
    color: rgb(96, 44, 180);
}

.inscr {
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 10px;
    padding: 20px;
    padding-right: 40%;
    text-align: left;
    margin-bottom: 20px;
    border-color: blueviolet;
    color: rgb(135, 6, 255);
    background-color: white;
}

.input-box {
    color: blueviolet;
}


textarea {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid blueviolet;
    color: blueviolet;
    background-color: white;
}


.bnt {
    padding: 10px;
    background-color: white;

}

.image {
    align-items: right;
    justify-content: right;
    margin-bottom: 0;
    margin-left: 45%;
}

.img-hist {
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

.body-hist h2 {
    font-size: 40px;
}

.body-hist p {
    margin-left: 20%;
    margin-right: 20%;
}

.body-hist {
    align-items: center;
    text-align: center;
}

.hist-header {
    font-size: 40px;
}

.body-hist h1 {
    font-size: 40px;
}

footer {
    padding: 5px;
    background-color: white;
    text-align: center;
    margin-bottom: 0;
}